.PostGridTile img {
    height: 99%;
    width: 99%;
    padding: .5%;
    object-fit: cover;
    overflow: hidden;
}

.PostGridTile {
    box-sizing: border-box;
    height: 33.33vw;
    width: 33.33vw;
    background-color: #fff;
}

@media (min-width: 700px) {    
    .PostGridTile img {
        height: 90%;
        width: 90%;
        margin: 0 10% 10% 0;
        object-fit: cover;
        overflow: hidden;

    }
    .PostGridTile img:nth-child(3) {
        display: none;
        border: 1px solid black;
    }
}

@media (min-width: 900px) {
    .PostGridTile {
        box-sizing: border-box;
        width: 300px;
        height: 300px;
    }
}