.CreatePost {
    height: 80vh;
    width: 100%;
}

.CreatePost__title {
    font-size: 2rem;
    padding: .5rem 0 .5rem 0;
    color: tomato;
}

.CreatePost__container {
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
}

.CreatePost__container form {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    height: 66%;
    box-sizing: border-box;
}

.CreatePost__container form > * {
    margin-bottom: 15px;
}

.CreatePost__container button {
    margin-top: auto;
    padding: 10px;
    color: tomato;
    background-color: white;
}

.CreatePost__preview-img-container {
    height: 33%;
    position: relative;
    font-size: 5rem;
    font-weight: 300;
    color: #888;
    border-bottom: 1px solid black;
}
.CreatePost__preview-img-container > img,
.CreatePost__preview-img-container > i {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.CreatePost__alert {
    color: tomato;
}