.login {
    padding-top: 40px;
    padding-bottom: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.login__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.login__logo {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 2.2rem;
}

.login__img-container {
    text-align: center;
}

.login__gif {
    width: 50%;
    margin-bottom: 2.2rem;
    border-radius: 50%;
}

.facebook_login {
    width: 100%;
    font-size: 1.1rem;
    background-color: tomato;
    color: white;
    padding: .5rem;
    border-radius: 360px;
}
  
.auth_button {
    margin: 0 auto;

    width: 100%;
    max-width: 218px;
}

.login-footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.login-footer-links {
    text-align: center;
}

.login-footer-links li {
    font-size: .7rem;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
}