.Login {
    margin-top: 40px;
}

.Login .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.Login .container > *{
    margin-bottom: 20px;
}

.Login .container .logo {
    text-align: center;
    font-size: 3.2em;
}

.Login .container button {
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 0 12px;
    line-height: 2em;
}


