.PostGridTile a {
    width: 100%;
    height: 100%;
}

.PostGridTile img {
    height: 99%;
    width: 99%;
    padding: .5%;
    object-fit: cover;
    overflow: hidden;
}

.PostGridTile {
    box-sizing: border-box;
    height: 33.33vw;
    width: 33.33vw;
    background-color: #fff;
}

@media (min-width: 700px) {    
    .PostGridTile img {
        height: 90%;
        width: 90%;
        padding: 5%;
        object-fit: cover;
        overflow: hidden;
    }
}

@media (min-width: 1000px) {
    .PostGridTile {
        box-sizing: border-box;
        width: 333px;
        height: 333px;
    }
}