.PostViewer {
    margin-bottom: 15%;
}

.PostViewer__title {
    font-size: 2rem;
    padding: .5rem 0 .5rem 0;
    color: tomato;
}

@media (min-width: 700px) {
    .PostViewer {
        width: 70%;
        margin: 0 auto;
    }
}