.PostGridTile a {
    width: 100%;
    height: 100%;
}

.PostGridTile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.PostGridTile {
    box-sizing: border-box;
    height: 33vw;
    width: 33vw;
    margin-bottom: .5vw;
    background-color: #fff;
    margin-left: .5vw;
}

.PostGridTile:nth-child(3n + 1) {
    margin-left: 0;
}


/* Using 70% width at PostViewer */
@media (min-width: 700px) {
    .PostGridTile {
        box-sizing: border-box;
        width: 32%;
        height: 22vw;
        margin-bottom: 1vh;
    }
    
    .PostGridTile img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}
