.PostGridTile a {
    width: 100%;
    height: 100%;
}

.PostGridTile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.PostGridTile {
    height: 33vw;
    margin-bottom: 1vw;
    background-color: #fff;
    display: flex;
}