.profile-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #efefef;
}

.profile-header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 25%;
}

.profile-header_title {
    color: tomato;
    align-content: center;
}

.profile-header_edit-button {
    width: 25%;

}