.Profile {
    position: relative;
}

.Profile_edit-button {
    position: absolute;
    color: tomato;
    background-color: white;
}

.Profile_user-info_container {
    display: flex;
    margin: 16px 30px 16px 24px;
}

.Profile_user-info_pic {
    border-radius: 50%;
}

.Profile_user-info_name {
    align-self: center;
    margin-left: 30px;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: -.5px;
}

