.profile {
    position: relative;
}

.profile_user-info_container {
    display: flex;
    margin: 16px 30px 16px 24px;
}

.profile_user-info-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.profile_user-info-right {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 30px;
    letter-spacing: -.5px;
    flex: 1;
}

.profile_user-info_name {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.profile_user-info_edit-button {
    justify-content: center;
    padding: .3rem;
    border: 1px solid #fefefe;
    border-radius: 4px;
    background-color: #D0D0D0;
}

@media (min-width: 700px) {
    .profile_user-info {
        width: 60%;
        margin: 0 20%;
    }
}