.profile-header {
    background-color: white;
    border-bottom: 1px solid #efefef;
}

.profile-header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-header_logo {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 25%;
}

.profile-header_title {
    color: tomato;
}

.profile-header_logout-link {
    display:flex;
    width: 25%;
    justify-content: center;
}

@media (min-width: 700px) {
    .profile-header_container{
        width: 90%;
        margin: 0 auto;
    }
}