.PostViewer {
    margin: 0 auto;
}

.PostViewer__title {
    font-size: 2rem;
    padding: .5rem 0 .5rem 0;
    color: tomato;
}

@media (min-width: 900px) {
    .PostViewer {
        width: 900px;
    }
}